/*OFFLINE RULES*/
/*img, #mission, #locations {
  border: 2px solid seashell;
  background-color: darkslategray;
}*/

/*GENERAL RULES*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
.text_banner {
  background-color: black;
}
.ghost {
  visibility: hidden;
}
h2 {
  font-size: 26px;
}
h4 {
  font-size: 16px;
}

/*HEADER*/
#header {
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 2;
}
#header img, #ghost_header img {
  margin: 7px 0 7px 10px;
  height: 50px;
  float: left;
}
#header nav, #ghost_header nav {
  display: inline-flex;
  align-items: flex-end;
  float: right;
}
#header nav ul {
  padding: 0;
}
#header nav ul li, #ghost_header nav ul li {
  font-size: .75em;
  display: inline-block;
}
#header nav ul li a, #ghost_header nav ul li a  {
  color: seashell;
}

/*MISSION STATEMENT*/
#mission {
  display: inline-flex;
  align-content: center;
  align-items: center;
  width: 90%;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  margin: 0 5% 30px 5%;
}
#mission .text_banner {
  display: inline-block;
  width: 1200px;
  text-align: center;
}
#mission .text_banner h2 {
  margin: 5px 0 10px 0;
}
#mission .text_banner h4 {
  margin: 10px 0 5px 0;
}

/*FEATURED ITEMS*/
#featured {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}
#featured .text_banner {
  margin: 50px 0 0 0;
  display: block;
  width: 1000px;
}
#featured .text_banner h2 {
  margin: 10px 0 5px 0;
}
#featured .text_banner h4 {
  margin: 10px 0 25px 0;
}
#featured .pair img {
  height: 200px;
  width: 300px;
  margin: 0 15px 0 15px;
}
#featured .pair h6 {
  margin: 4px 0 25px 0;
  position: relative;
}

/*LOCATIONS*/
#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 500px;
  width: 90%;
  margin: 50px 5% 0 5%;
}
#locations h2 {
  width: 100%;
  text-align: center;
  padding: 15px 0 0 0;
  margin: 0;
  max-height: 65px;
  /*border: 2px solid blue;*/
}
#locations .text_banner {
  margin: 10px 20px 10px 20px;
  padding: 5px;
  text-align: center;
  width: 200px;
  height: 200px;
}
#locations .text_banner h4 {
  font-size: 20px;
}
#locations .text_banner p {
  font-size: 16px;
  line-height: 1.8em;
}

/*FOOTER*/
#footer {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}
#footer .text_banner {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 200px;
  text-align: center;
  align-content: space-between;
}
#footer .text_banner h2 {
  width: 100%;
}
#footer .text_banner h5 {
  width: 100%;
  margin: 10px 0 10px 0;
}
#footer h4 {
  float: left;
  margin: 0 0 0 20px;
}

/*MEDIA QUERIES*/
  /*BIG SCREENS*/
@media only screen and (min-width: 868px) {
  #locations .text_banner {
    position: relative;
    bottom: 50px;
  }
}
  /*SMALL SCREENS*/
@media only screen and (max-width: 480px) {
  #header nav ul li, #ghost_header nav ul li {
    font-size: .6em;
  }
}
/*TINY SCREENS*/
@media only screen and (max-width: 380px) {
  #header nav ul li, #ghost_header nav ul li {
    font-size: .5em;
  }
}
