/*OFFLINE RULES*/
img, #mission {
  border: 2px solid seashell;
}

/*GENERAL RULES*/
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*HEADER*/
#header {
  display: inline-flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}
#header img, #ghost_header img {
  margin: 7px 0 7px 10px;
  height: 50px;
  float: left;
}
#header nav, #ghost_header nav {
  display: inline-flex;
  align-items: flex-end;
  float: right;
}
#header nav ul li, #ghost_header nav ul li {
  display: inline-block;
  flex-shrink: 3;
}
#header nav ul li a, #ghost_header nav ul li a  {
  color: seashell;
}
.ghost {
  visibility: hidden;
}

/*MISSION STATEMENT*/
#mission {
  display: inline-flex;
  align-content: center;
  align-items: center;
  width: 90%;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  margin: 0 5% 0 5%;
}
#mission .text_banner {
  display: inline-block;
  width: 1200px;
  text-align: center;
  border: 2px solid seashell;
}

/*FEATURED ITEMS*/
#featured {
  display: flex;
  text-align: center;
  width: 1000px;
}
#featured .text_banner {
  display: block;
  width: 1000px;
}
#featured .pair img {
  height: 200px;
  width: 300px;
}
